<h1>Editing Client</h1>

<%= render 'form', client: @client %>

<%= link_to 'Show', @client %> |
<%= link_to 'Back', clients_path %>

<p>
  <h4>Client History</h4>
  <%= render 'history', versions: @client.versions %>
</p>
